body {
  font-family: Georgia, serif;
  font-size: 100%;
  line-height: 175%;
  margin: 0 15% 0;
  background-color: #B8AEB8;
  background-image: url("images/bullseye.png");
  background-repeat: repeat;
}

header {
  text-align: center;
  background-color: #B88A86; /*fallback*/
  background: rgba(184, 138, 134, .5);
  border-style: double;
  border-width: 20px;
  border-spacing: 10px;
  border-color: #5e323c
}

a {
  text-decoration: none;
}
a:link {
        color: #5e323c;
      }
a:visited {
        color: #424C49;
      }
a:focus, a:hover {
        color: #00585A;
        background-color: #ffffff;
      }
a:active {
    color: #76E6F4;
    background-color: #ffffff;
  }

h1 {
  font: bold 1.5em Saira Condensed, sans-serif;
  font-size: 80px;
  text-shadow: .05em .05em .1em #B88A86; color: #904C5C;
}
h2 {
  font: bold 1.5em Saira Condensed, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: .5em;
  text-align: center; color: #904C5C;
}

h3 {
  font: bold 1.5em Saira Condensed, sans-serif;
  font-size: 18px;
  font-style: italic;
  text-transform: uppercase;
  letter-spacing: .05em;
  color: #904C5C;
  text-decoration: underline;
}
p {
  font: bold 1.5em Saira Condensed, sans-serif;
  font-size: 14px;
  color: #5e323c;
  background-color: #B88A86; /*fallback*/
  background: rgba(184, 138, 134, .5);

}
small {
  font: 1.5em Georgia, serif;
  font-size: 8px;
  font-style:italic;
  text-align: right; color: #000000;
}
ul {
    font: bold 1.5em Saira Condensed, sans-serif;
    font-size: 14px;
    text-align: left; color: #5e323c;
    background-color: #B88A86; /*fallback*/
    background: rgba(184, 138, 134, .5);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
